In [1]:
import numpy as np
import pandas as pd

In [2]:
def cost_of_event(num_of_people, type='wedding', cost=50):
    
    net_cost = num_of_people * cost
    
    if type == 'wedding':
        return net_cost * 1.5
    elif type in ['corporate', 'private']:
        return net_cost
    else:
        return

In [3]:
def sales_tax(type, net_cost, tax_rate=0.1):
    
    if type == 'private' or type == 'wedding':
        if net_cost <= 1000:
            tax = 0
        else:
            tax = (net_cost - 1000) * tax_rate
    elif type == 'corporate':
        tax = net_cost * tax_rate
    
    return tax

In [4]:
def event_calculator(num_of_people, **kwargs): 
    try: 
        # calculate the net cost
        if (kwargs['type'] in ['wedding', 'private', 'corporate']) & (float(kwargs['cost']) >= 0):
            net_cost = cost_of_event(num_of_people=num_of_people, type=kwargs['type'], cost=kwargs['cost'])

        # calculate the tax
        if kwargs['tax_rate'] >= 0:
            tax = sales_tax(type=kwargs['type'], net_cost=net_cost, tax_rate=kwargs['tax_rate'])

        # calculate the total amount 
        total_cost = net_cost + tax

        # print results
        return total_cost
        
    except:
        print("Please check your input values.")

## 3. Multiple events

Your friend really likes your calculator and would like to apply it retroactively to her database of events to check whether her past event quotes were correct. Alter your `event_calculator` from (2b) to now provide a total event cost (including tax) as a return value. Using the following data frame, show how you can check whether her previous estimates were correct. The solution should not simply copy-and-paste these values into your function but be programmatic so it could be applied to a much larger data frame:

In [5]:
data = [(200, 'private', 55, 10, 12100), 
        (150, 'wedding', 280, 10, 69300), 
        (20, 'corporate', 80, 15, 1840), 
        (8, 'private', 100, 10, 880)]
df_events = pd.DataFrame.from_records(data, columns=['num_of_people', 'type', 'cost', 
                                                     'sales_tax_rate', 'total_cost'])
df_events

   num_of_people       type  cost  sales_tax_rate  total_cost
0            200    private    55              10       12100
1            150    wedding   280              10       69300
2             20  corporate    80              15        1840
3              8    private   100              10         880

Basically, we want to go through the dataframe and apply a function.

### `apply()`

In [6]:
df_events['calculated_total'] = df_events.\
                                apply(lambda x: event_calculator(num_of_people=x.num_of_people,
                                                                 type=x.type, 
                                                                 cost=x.cost, 
                                                                 tax_rate=x.sales_tax_rate/100), axis=1)
# axis=1: along columns, AKA apply function to each row
axis='col...'

In [7]:
df_events

,num_of_people,type,cost,sales_tax_rate,total_cost,calculated_total
0,200,private,55,10,12100,12000.0
1,150,wedding,280,10,69300,69200.0
2,20,corporate,80,15,1840,1840.0
3,8,private,100,10,880,800.0

*Dividing by 100 because the input tax_rate is a percentage.*

### for loop

In [8]:
calculated_total = []
for i in range(len(df_events)):
    calculation = event_calculator(df_events['num_of_people'][i],
                                   type = df_events['type'][i],
                                   cost = df_events['cost'][i],
                                   tax_rate = df_events['sales_tax_rate'][i])
    calculated_total.append(calculation)

In [9]:
calculated_total

[111000, 683000.0, 25600, 800]

### `iterrows()`

In [10]:
calculated_total = []
for x in df_events.iterrows():
    calculated_total.append(event_calculator(num_of_people=x[1].num_of_people,
                                             type=x[1].type, 
                                             cost=x[1].cost, 
                                             tax_rate=x[1].sales_tax_rate/100))

In [11]:
calculated_total

[12000.0, 69200.0, 1840.0, 800]

In [12]:
df = pd.DataFrame([[1, 1.5], [1,2]], columns=['int', 'float'])
df

   int  float
0    1    1.5
1    1    2.0